<header id="lokiMenu" class="bg-dark fixed-top">
    <nav class="navbar navbar-expand-md navbar-light navbar-dark">
        <div class="container">
            <!-- <a class="navbar-brand" href="https://newhand31.github.io/MoveUp.github.io/MoveUp/index.html"> -->
            <a class="navbar-brand" href="#">
                <img style="height: 30px" src="/SaMove.github.io/favicon.ico" class="b-block">
                <span class="">SaM動起來</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#lokiNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="lokiNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#lokiRoom"><i class="fas fa-bed me-2"></i>球場介紹</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#lokiFacility"><i class="fas fa-gamepad me-2"></i>服務設施</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#lokiFood"><i class="fas fa-utensils me-2"></i>餐飲美食</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#lokiTrans"><i class="fas fa-map-marker-alt me-2"></i>交通資訊</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#lokiContact"><i class="fas fa-envelope me-2"></i>聯絡我們</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- <div class="py-4"></div> -->
<section id="lokiSlider" class="carousel slide carousel-fade" data-bss-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#lokiSlider" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#lokiSlider" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#lokiSlider" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#lokiSlider" data-bs-slide-to="3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item vh-100 active">
            <img src="/SaMove.github.io/assets/images/1006慈妹強悍出擊.jpg" class="b-block w-100 ">
            <div class="carousel-caption top-0 bottom-0 d-flex flex-column justify-content-center">
                <a href="https://www.youtube.com/watch?v=vdU1vlh1J-E" target="_blank">
                    <button type="button" class="btn btn-secondary">觀看影片</button>
                </a>
                <!-- <p class="d-none d-md-block">Some representative placeholder content for the first slide.</p> -->
            </div>
        </div>
        <div class="carousel-item vh-100">
            <img src="/SaMove.github.io/assets/images/1022女兒國開場舞.jpg" class="b-block w-100">
            <div class="carousel-caption top-0 bottom-0 d-flex flex-column justify-content-center">
                <a href="https://youtu.be/mpAw-gGWFws" target="_blank">
                    <button type="button" class="btn btn-secondary">觀看影片</button>
                </a>
            </div>
        </div>
        <div class="carousel-item vh-100">
            <img src="/SaMove.github.io/assets/images/1020阿迷趴補賽 穎樂林襄桃猿男兒.jpg" class="b-block w-100">
            <div class="carousel-caption top-0 bottom-0 d-flex flex-column justify-content-center">
                <a href="https://youtu.be/sdaD69VqHgk" target="_blank">
                    <button type="button" class="btn btn-secondary">觀看影片</button>
                </a>
            </div>
        </div>
        <div class="carousel-item vh-100">
            <img src="/SaMove.github.io/assets/images/0927十元我是老大.jpg" class="b-block w-100">
            <div class="carousel-caption top-0 bottom-0 d-flex flex-column justify-content-center">
                <a href="https://youtu.be/9kNsLm550DQ" target="_blank">
                    <button type="button" class="btn btn-secondary">觀看影片</button>
                </a>
                <!-- <h1>Fourth slide label</h1>
                <p class="d-none d-md-block">Some representative placeholder content for the third slide.</p> -->
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#lokiSlider" data-bs-slide="prev">
        <i class="fas fa-angle-double-left fa-2x"></i>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#lokiSlider" data-bs-slide="next">
        <i class="fas fa-angle-double-right fa-2x"></i>
    </button>
</section>
<section id="lokiRoom" class="container py-5">
    <header class="text-center">
        <h2 class="text-warning pb-3">球場介紹</h2>
        <nav class="nav nav-tabs flex-nowrap justify-content-around">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#roomA" type="button"> 座位資訊
            </button>
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#roomB" type="button">尊猿席</button>
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#roomC" type="button">團猿席</button>
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#roomPrice" type="button">VIP
                SUITE</button>
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#roomRule" type="button"> 桃猿快樂炒 </button>
        </nav>
    </header>
    <article class="tab-content py-5">
        <div class="tab-pane fade show active" id="roomA">
            <span style="color:#ffffff"><span style="font-size:18px"><strong><span
                            style="background-color:#c0392b">&nbsp;座位資訊&nbsp;</span></strong></span></span>
            <hr><img alt="" src="https://storage.googleapis.com/hhg-images/ckeditor/16/202203310720076T0L.jpg"
                style="height:493px; max-width:500px">
        </div>
        <div class="tab-pane fade" id="roomB"><span style="color:#ffffff"><span style="font-size:18px"><strong><span
                            style="background-color:#c0392b">&nbsp;尊猿席ROYAL SEAT&nbsp;</span></strong></span></span>
            <hr>
            「尊猿席ROYAL SEAT」由內野東下A區13排前改建而成，採用樂天生命球場宮城同款高級舒適獨立座椅，絕佳本後視野能近距離欣賞桃猿男兒英姿，更享有飲料暢飲服務，享受比賽RISE
            UP！此席主要規劃為年度專屬座位，售價50,000元/席，歡迎企業購買並洽票務部，部分開放球迷零售體驗，球迷單場單位平/假日價格為800/1000元，3月26日起於FamiTicket開始預售。<br>
            <br>
        </div>
        <div class="tab-pane fade" id="roomC"><span style="color:#ffffff"><span style="font-size:18px"><strong><span
                            style="background-color:#c0392b">&nbsp;團猿席BOX SEAT&nbsp;</span></strong></span></span>
            <hr>
            「團猿席BOX SEAT」分別設置於內野一壘側8間及上層看臺8間共16間，為兼具熱血臨場感與私人舒適空間的全新開放式包廂。

            一壘團猿席BOX SEAT位於東下G/H區上排位置，鄰近舞台熱區能充分感受應援樂氣，舒適沙發與沿牆站立桌位，讓你坐著看、站著看、來BOX
            SEAT就是要你好看！此區提供整季專屬包廂(可容納七人)售價為300,000元(並贈送包廂廣告)，部分推出球迷零售方案(購票需一次購足設定人數)，球迷單場單團猿席區平/假日價格為3600/4200元，3月26日起於FamiTicket開始預售。

            上層團猿席BOX SEAT位於東西上B/C區前排位置，設有八人席4間與九人席4間。居高臨下的廣闊視野，坐擁露台沙發的悠閒、或趴杆盡情樂力吶喊，期待相揪10號隊友們一起進場同樂！上層團猿席BOX
            SEAT將與主場一般座位門票同步預售，全家便利商店機台及FamiTicket全網購票系統上將顯示為「東西上B1-2/C1-2」區(購票需一次購足設定人數)，球迷單場單區平日價格為4000與4500元、假日價格為4800及5400元，3月26日起於FamiTicket開始預售。<br>
            <br>
        </div>
        <div class="tab-pane fade" id="roomPrice"><span style="color:#ffffff"><span style="font-size:18px"><strong><span
                            style="background-color:#c0392b">&nbsp;VIP SUITE
                            &nbsp;</span></strong></span></span>
            <hr>
            <p>樂天桃猿主場全新設施球場觀賽VIP包廂，邀請您開啟難忘的棒球場之旅：<br>
                <br>
                ⚾️享受更舒適的全猿主場⚾️<br>
                炎熱的夏季，VIP包廂室內冷暖空調，可在室內觀看電視零時差的現場轉播，亦可至落地窗外陽台座位親臨現場氣氛，享受獨一無二的主場體驗。<br>
                <br>
                ⚾️品嚐激情的球賽和美味⚾️<br>
                專屬管家送上個人餐點，VIP包廂內智慧平板加購精選美食、特色調酒與下酒菜。<br>
                <br>
                ⚾️企業多元的商務招待場地⚾️<br>
                因應喜好熱血沸騰賽事或是有私人空間需求的客戶，桃猿VIP包廂也能滿足企業商務需求，合作更樂天。<br>
                <br>
                ⚾️意想不到的球賽體驗⚾️<br>
                從訂購包廂開始，即可享受由專人接待服務，包含提前詢問飲食需求或其他特別項目，並有專屬的進場通道，增添包廂貴賓的尊榮享受。<br>
                <br>
                訂購請洽詢：<a href="https://www.facebook.com/RakutenMonkeysrestaurant/"
                    target="_blank">https://www.facebook.com/RakutenMonkeysrestaurant/</a><br>
                或電洽03-4250927分機173、177<br>
                <br>
            </p><br>
            <br>
        </div>
        <div class="tab-pane fade" id="roomRule"><span style="color:#ffffff"><span style="font-size:18px"><strong><span
                            style="background-color:#c0392b">&nbsp;
                            桃猿快樂炒&nbsp;</span></strong></span></span>
            <hr>
            <p>Rakuten
                Monkeys於主場規劃的複合式專區-「桃猿快樂炒」以西下K區上層、L全區、M全區為基底改造而成，「桃猿快樂炒」重新規劃該三區的座位，採用橢圓式的排列設計，也因為「桃猿快樂炒」擁有較高的視野搭配360度旋轉並方便用餐的舒適椅設計，已經成為全台球場最新、最有創意的觀賽熱區。

                「大盛樂園」處於「桃猿快樂炒」延伸用餐區，三大區域：觀眾席「沙發賞球區」平台、球星零距離「互動餐飲吧檯」以及「戶外樂園區」迎賓開趴最歡樂。即日起開始接受團體預訂上半季，歡迎工商企業親友來辦公司趴、生日趴，來樂園看樂天最夏趴！

                觀眾席「沙發賞球區」擁有絕佳視野，利用旋轉便梯往下可以直達一樓與左外野草皮區平面一致的運動風格「互動餐飲吧檯」，透過吧內隱形護網可以欣賞球賽用餐品酒，臨場感十足！「戶外樂園區」在餐飲吧旁，設置家庭遊憩設施與超過十道熱食Buffet區供親朋好友、公司行號用餐聊天，利用大螢幕即時轉播掌握賽況，孩子在戶外攀爬區爬上爬下，戶外或跳或坐，賞球、遊樂、美食，享受大盛設施不寂寞。

                #團體訂購方案：
                ➯三十人(含)以上成團
                ➯平日每人1480元
                ➯假日每人1780元
                ➯五十人以上另有團體優惠
                ➯賞球還附超過10道新鮮豐富自助餐點以及沁涼啤酒喝到飽。
                ➯洽詢：https://www.facebook.com/RakutenMonkeysrestaurant/
            </p>
            <br>
            <br>
        </div>
    </article>
</section>

<footer class="bg-dark text-muted py-3 text-center">
    <small>
        SaM動起來 <br>copyright &copy; <span class="text-warning">SaM動起來</span>. all rights reserved
    </small>
    <div id="lokiArrow" class="position-fixed">
        <a class="btn btn-warning text-light" href="#lokiSlider"><i class="fas fa-angle-double-up fa-2x"></i></a>
    </div>
</footer>